/* line 7, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
* {
  box-sizing: border-box; }

/* line 10, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  color: #555; }

/* line 17, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
a {
  text-decoration: none;
  display: inline-block;
  color: #555; }

/* line 23, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
div.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  background-color: white; }

/* line 29, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
.header, .main, .footer {
  width: 100%;
  display: block;
  clear: both;
  float: left; }

/* line 36, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
.header {
  padding: 20px;
  border-bottom: 1px solid #efefef;
  background-size: 100%;
  background-position: center top;
  color: #fff; }

/* line 43, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
h1 {
  float: left; }

/* line 47, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
.nav {
  margin: 0;
  padding: 40px 20px;
  float: right; }
  /* line 54, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
  .nav li {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none; }
    /* line 61, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
    .nav li a {
      padding: 5px 10px;
      color: white; }
    /* line 64, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
    .nav li a:hover {
      text-decoration: underline;
      color: pink; }

/* line 69, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
.main {
  padding: 20px;
  border-bottom: 1px solid #efefef; }

/* line 74, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
.wrapper header {
  padding: 0;
  height: 300px;
  overflow: hidden;
  position: relative; }
  /* line 79, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
  .wrapper header video#bgvid {
    position: absolute;
    width: 100%;
    z-index: -100;
    max-width: 1280px;
    background-position: center bottom; }
  /* line 85, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
  .wrapper header img {
    padding: 20px; }

/* line 93, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
.footer {
  padding: 20px; }
  /* line 96, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
  .footer p {
    margin: 0;
    padding: 0;
    font-size: 12px; }
