/* line 7, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
* {
  box-sizing: border-box; }

/* line 10, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  color: #555; }

/* line 17, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
a {
  text-decoration: none;
  display: inline-block;
  color: #555; }

/* line 23, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
div.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  background-color: white; }

/* line 29, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
.header, .main, .footer {
  width: 100%;
  display: block;
  clear: both;
  float: left; }

/* line 36, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
.header {
  padding: 20px;
  border-bottom: 1px solid #efefef;
  background-size: 100%;
  background-position: center top;
  color: #fff; }

/* line 43, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
h1 {
  float: left; }

/* line 48, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
header nav {
  display: block; }
/* line 51, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
header .mainNav {
  margin: 0;
  padding: 40px 20px;
  float: right;
  display: none; }
  /* line 56, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
  header .mainNav li {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none; }
    /* line 61, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
    header .mainNav li a {
      padding: 5px 10px;
      color: white; }
    /* line 64, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
    header .mainNav li a:hover {
      text-decoration: underline;
      color: pink; }

/* line 70, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
div.wrapper div#sidr {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 999999;
  width: 184px;
  background-color: orange;
  color: white; }
  /* line 81, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
  div.wrapper div#sidr ul {
    width: 80%;
    margin: 10%; }
    /* line 84, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
    div.wrapper div#sidr ul li {
      padding: 5px 0;
      margin: 5px 0;
      list-style-type: none; }

/* line 91, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
.main {
  padding: 20px;
  border-bottom: 1px solid #efefef; }

/* line 96, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
.wrapper header {
  padding: 0;
  height: 300px;
  overflow: hidden;
  position: relative; }
  /* line 101, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
  .wrapper header video#bgvid {
    position: absolute;
    width: 100%;
    z-index: -100;
    max-width: 1280px;
    background-position: center bottom; }
  /* line 107, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
  .wrapper header img {
    padding: 20px;
    float: left; }

/* line 113, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
.isotope-item {
  z-index: 2; }

/* line 116, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1; }

/* line 121, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
.isotope, .isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s; }

/* line 126, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width; }

/* line 131, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity; }

/* line 138, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
.footer {
  padding: 20px;
  position: fixed;
  bottom: 0; }
  /* line 143, /Users/COMPUTES/Desktop/LeahdeVries-SPA/src/assets/styles/index.sass */
  .footer p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-align: right; }
