doctype html
html

  head

    meta(charset="utf-8")

    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title Leah de Vries

    meta(name="description", content="Hello World")

    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")

    link(rel="stylesheet", href="assets/styles/main.css", type="text/css")

  body
  
    div.wrapper

      header.header

        video#bgvid(autoplay='', loop='', poster='assets/images/logo_black.png', width="1280px")
          source(src='assets/images/test.mp4', type='video/mp4' width="1280px")

        nav
          img(src='assets/images/logo_black.png', alt='logo')
        
          ul.mainNav
            li: a(href="/") Home

            li /

            li: a(href="/work") Work

            li /

            li: a(href="/about") About

            li /

            li: a(href="/contact") Contact

          //- a.menu.example5#simple-menu
          //-   span

          //- div#sidr
          //-   ul
          //-     li: a(href="/") Home

          //-     li: a(href="/work") Work

          //-     li: a(href="/about") About

          //-     li: a(href="/contact") Contact

        h2 I am an interactive designer with a background in graphic design &amp; photography who focuses on user experience &amp; visual design.
      div.main

      footer.footer

        p Copyright &copy; 2014

      // -----------------------------
      // Home Page Template
      // -----------------------------

      script#home(type="text/template").
        <section class="page home">
          <h1>Featured Projects /</h1>
          <div class="projectContainer">
          {{#each projects}}
            <a href="/project/{{{id}}}">
              <div class="project {{{classes}}}">
                <img src="{{{thumbnail}}}" alt="{{{thumbnailAlt}}}">
                <h2>{{{title}}}</h2>
              </div>
            </a>
          {{/each}}
          </div> <!--projectContainer-->
        </section>

      // -----------------------------
      // Work Page Template
      // -----------------------------

      script#work(type="text/template").
        <h1>Projects /</h1>
        <ul class="projectCategories">
          <li><a href="#" data-class="*" class="current">All</a></li>
          <li>/</li>
          <li><a href="#" data-class=".photos">Photos</a></li>
          <li>/</li>
          <li><a href="#" data-class=".art">Art</a></li>
        </ul>

        <section class="page work">
          {{#each projects}}
            <a href="/project/{{{id}}}">
              <div class="project {{{classes}}}">
                <img src="{{{thumbnail}}}" alt="{{{thumbnailAlt}}}">
                <h2>{{{title}}}</h2>
            </a>
            </div>
          {{/each}}
        </section>

      // -----------------------------
      // About Page Template
      // -----------------------------

      script#about(type="text/template").
        <div class="page about">{{{content}}}</div>
        <div class="aboutWrapper">
          <h2>Hi, my name is Leah de Vries</h2>
          <p>I’m an interactive designer, based out of Toronto with a background in graphic design &amp; photography. I focus on combining the user experience with creative visual design. I am passionate about solving problems through design &amp; learning about web accessibility. I thrive on continuous learning, I feel that it is the only way to embrace growth and development.</p>
          <p>When I’m not working on projects, you can find me drawing, taking photos, cruisin’ the streets of Toronto on my bicycle or hanging out with my two furry faced kitty friends, Ron and Crook.</p>
        </div>

      // -----------------------------
      // Project Page Template
      // -----------------------------

      script#project(type="text/template").
        <div class="page">
          <a href="/work">Back</a>
          <h2>{{{title}}}</h2>
          <img src="{{{thumbnail}}}" alt="{{{thumbnailAlt}}}">
          {{{content}}}
        </div>

      // -----------------------------
      // Contact Page Template
      // -----------------------------

      script#contact(type="text/template").
        <div class="page contact">
          {{{content}}}
          <h3>Email:</h3>
          <input type="text" class="email">
          <h3>Subject:</h3>
          <input type="text" class="subject">
          <h3>Description:</h3>
          <textarea class="text"></textarea>
          <button class="submit">Send</button>
        </div>

      // -----------------------------
      // Libraries
      // -----------------------------

      script(type="text/javascript", src="http://code.jquery.com/jquery-2.1.1.min.js")

      script(type='text/javascript', src="assets/scripts/jquery.sidr.min.js")

      script(type='text/javascript', src="assets/scripts/jquery.isotope.js")

      script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js")

      script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js")

      script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js")


      // -----------------------------
      // Application
      // -----------------------------

      script(type="text/javascript", src="assets/scripts/main.js")
