
// -----------------------------
// Variables
// -----------------------------

$color: #555
$lightColor: #efefef
$darkColor: #333

// -----------------------------
// Global Styles
// -----------------------------
*
  box-sizing: border-box

body
  padding: 0
  margin: 0
  font-size: 14px
  font-family: sans-serif
  color: $color

a
  text-decoration: none
  display: inline-block
  color: $color


// -----------------------------
// App Specific
// -----------------------------
div.wrapper
  max-width: 1280px
  width: 100%
  margin: 0 auto
  background-color: white

.header, .main, .footer
  width: 100%
  display: block
  clear: both
  float: left

// -----------------------------
// Header
// -----------------------------

.header
  padding: 20px
  border-bottom: 1px solid $lightColor
  // background: url('../images/hero.jpg') no-repeat
  background-size: 100%
  background-position: center top
  color: #fff

h1
  float: left

// -----------------------------
// Navigation
// -----------------------------

.nav
  margin: 0
  padding: 40px 20px
  float: right



  li
    margin: 0
    padding: 0
    display: inline-block
    list-style: none


    a
      padding: 5px 10px
      color: white
    a:hover
      text-decoration: underline
      color: pink

// -----------------------------
// Main
// -----------------------------

.main
  padding: 20px
  border-bottom: 1px solid $lightColor

// -----------------------------
// HOME
// -----------------------------
.wrapper
  header
    padding: 0
    height: 300px
    overflow: hidden
    position: relative
    video#bgvid
      position: absolute
      width: 100%
      z-index: -100
      max-width: 1280px
      background-position: center bottom
      // position: fixed
      // left: 0
      // top: 0
      // min-width: 100%
      // min-height: 100%
      // width: auto
      // height: auto
      // z-index: -100
      // background: url('../images/logo_black.png') no-repeat
      // background-size: center
    img 
      padding: 20px





// -----------------------------
// Footer
// -----------------------------

.footer
  padding: 20px
  position: fixed
  bottom: 0

  p
    margin: 0
    padding: 0
    font-size: 12px
    text-align: right

